.tracksuccess, .trackerror {
  font-weight: bold;
}

.tracksuccess {
  color: #01824A;
}

.trackerror {
  color: #F5634A;
}

.peering {
	width: 39% !important;
}

.final_note {
	width: 24% !important;
}
